/* === GLOBAL RESET === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === BASE STYLING === */
body {
  background-color: black;
  font-family: sans-serif;
}

/* === HERO SECTION STYLING === */
.main .main--hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../assets/images/840843081452.jpg") no-repeat center
    center/cover;
}

/* --- HEADER --- */
.main--hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21vh;
  padding: 0 40px;
}

/* Logo Styles */
.header--logo svg {
  width: 120px;
  height: 120px;
}
.header--logo text {
  fill: white;
  text-shadow: rgba(21, 159, 186, 0.877) 0px 0px 2px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 13px;
  text-transform: uppercase;
}

/* Navigation Styles */
.navigation-list {
  display: flex;
  gap: 20px;
}
.list--item {
  list-style: none;
  /* text-transform: uppercase; */
  font-family: sans-serif;
}
.item--link {
  color: white;
  text-shadow: rgba(21, 159, 186, 0.877) 0px 0px 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  transition: border 0.3s ease;
  padding: 10px 20px;
}
.item--link:hover {
  box-shadow: rgba(21, 159, 186, 0.877) 0px 0px 5px;
  border: 1px solid rgba(21, 159, 186, 0.877);
}

/* --- HERO CONTENT --- */
.main--hero-content .content--text {
  padding: 40px;
}
.content--title {
  color: white;
  text-shadow: rgba(21, 159, 186, 0.877) 0px 0px 10px;
  font-size: 85px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

/* --- FOOTER SOCIALS --- */
.main--hero-footer {
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.social--links {
  display: flex;
  gap: 30px;
}
.social--link .fa-brands {
  color: white;
}
.social--link .fa-brands:hover {
  text-shadow: rgba(21, 159, 186, 0.877) 0px 0px 3px;
}

/* === FUTURE SECTIONS === */
.main--tableOfContent {
  height: 100vh;
  /* Optional background for future sections */
  /* background: url("../assets/images/blackpaperbackground.avif") no-repeat center center/cover; */
}
