body {
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main .main--hero {
  width: 100%;
  height: 100vh;
  align-items: center;
  background: url("../assets/images/blackpaperbackground.avif") no-repeat center
    center/cover;
}

/* *********************************** */
/* ---HERO SESSION---  */
/* *********************************** */

.main--hero .main--hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21vh;
  width: 100%;
}
.header--logo svg {
  width: 120px;
  height: 120px;
  margin-left: 40px;
}
.header--logo text {
  fill: white;
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  letter-spacing: 13px;
  text-transform: uppercase;
}
.header-navigation .navigation-list {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}
.navigation-list .list--item {
  list-style: none;
}
.list--item .item--link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

.main--hero-content .content--text {
  padding-block: 40px;
  padding-left: 40px;
}
.content--text .content--title {
  color: white;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 80px;
}
.main--hero-footer {
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.main--hero-footer .social--links {
  display: flex;
  gap: 20px;
}
.social--link .fa-brands {
  color: white;
}

/* *********************************** */
/* ---TABLE OF CONTENT---  */
/* *********************************** */

.main--tableOfContent {
  height: 100vh;
  /* background: url("../assets/images/blackpaperbackground.avif") no-repeat center
    center/cover; */
}
